<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This is a functional twitter clone by me. You may follow other users, get followed. See a feed of their posts. The authentication system is rock solid. There are no passwords stored on my database (only hashes). XSS, CSRF, SQL injections are all protected against. The app is also scalable, just purchase one or two more heroku dynos and voila you can market it to the masses. Enjoy.
</p>
